---
---

@import "{{ site.theme }}";

.page-header {
    color: #fff;
    text-align: center;
    background-color: #ff6c00;
    background-image: linear-gradient(120deg, #ff6c00, #e06000);
    padding: 2rem;
}

.page-logo {
    height: 200px;
    width: auto;
}